body 
{
font-family: 'Special Elite', cursive;
background: rgb(255, 210, 218);
}

.header_div
{
    background: rgb(184, 237, 255);
    color:darkmagenta;
}

.header_div p
{
font-family :Roboto;
color:rgb(82, 81, 81);
letter-spacing: 2px;
font-size:12px;
font-weight:bold;
}

.main_div button
{
font-family:Roboto;
margin-top: 30px;
width:130px;
font-weight:bolder;
letter-spacing: 3px;
}

.copy_right_footer
{
    position:fixed;
    color: rgb(76, 74, 74);
    bottom:0;
    width:100%;
    font-size:18px;
    background-color: rgb(184, 237, 255);
    line-height:3;
    text-align:center;
    text-shadow: 5px 5px 5px rgb(151,149,149);
}